.postsContainer {
  max-width: 920px;
  min-height: 100vh;
  padding: 0 2rem;
  margin: 0 auto;

  .filter {
    padding-top: 1rem;
  }

  .postNotFound {
    margin-top: 4rem;
    text-align: center;

    font-size: 2em;
    font-weight: 500;
  }

  .card {
    margin: 2rem 0 4rem 0;
    &::after {
      content: "";
      display: block;
      width: 100%;
      border-bottom: 0.1rem solid var(--gray-300);
      margin-top: 4rem;
    }
  }
}
