.presentation {
  margin-top: 5rem;

  .presentationHeader {
    background: var(--yellow-500);
    padding-top: 1rem;

    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    .presentationContainer {
      display: flex;
      justify-content: center;

      max-width: 600px;
      margin: 0 auto;

      .presentationText {
        max-width: min-content;
        padding-left: 1rem;
        margin: 0 auto;
        h1 {
          font-family: "Press Start 2P", cursive;
          line-height: 2.5rem;
        }

        .introQA {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          gap: 0.5rem;

          span {
            align-self: flex-end;
            font-weight: 600;
          }
        }
      }

      img {
        width: 300px;
      }
    }
  }

  .presentationContent {
    max-width: 18rem;
    margin: 4rem auto;

    p {
      font-size: 0.7em;
      line-height: 1.9em;
      font-family: "Press Start 2P", cursive;
      text-align: start;
    }
  }
}

@media screen and (max-width: 600px) {
  .heroImg {
    display: none;
    max-width: 0;
    max-height: 0;
  }
}
