.presentation {
  margin-top: 5rem;

  .presentationHeader {
    background: var(--gray-400);
    padding-top: 1rem;

    border-bottom-left-radius: 50% 40%;
    border-bottom-right-radius: 50% 40%;

    .presentationContainer {
      display: flex;
      justify-content: center;
      gap: 1rem;

      max-width: 600px;
      margin: 0 auto;

      .presentationText {
        max-width: min-content;
        padding-left: 1rem;
        margin: 0 auto;
        h1 {
          font-family: "Press Start 2P", cursive;
          line-height: 2.5rem;
          font-size: 2em;
        }

        .introQA {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          gap: 0.5rem;

          span {
            align-self: flex-end;
            font-weight: 600;
          }
        }
      }

      img {
        width: 300px;
      }
    }
  }

  .presentationContent {
    max-width: 16rem;
    margin: 4rem auto;

    p {
      font-size: 1.2em;
      font-weight: 600;
      line-height: 1.5em;
      font-family: "Roboto";
      text-align: justify;
    }
  }
}

@media screen and (max-width: 600px) {
  .presentation {
    margin-top: 0;
  }

  .heroImg {
    display: none;
    max-width: 0;
    max-height: 0;
  }
}
@media screen and (min-width: 2560px) {
  .presentation {
    .presentationHeader {
      .presentationContainer {
        max-width: 900px;
      }
    }
  }
  .heroImg {
    span {
      max-width: 80% !important;
    }
  }
}
@media screen and (min-width: 2880px) {
  .heroImg {
    span {
      max-width: 100% !important;
    }
  }
}
