.scrollUp {
  position: fixed;
  right: 1rem;
  bottom: 5rem;

  background: var(--yellow-500);
  border-radius: 0.2rem;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;

    width: fit-content;

    padding: 0.5rem;

    color: rgb(20, 20, 20);
  }
}
