.projectCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 80%;
  min-height: 30vh;

  margin: 0 auto;

  img {
    object-fit: cover;
    max-width: 300px;

    height: 300px;

    border-radius: 0.2rem;
  }
  .cardContent {
    width: 200px;

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 0.9em;
      line-height: 1.5em;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;

      margin-top: 1rem;

      div {
        background: var(--cyan-500);
        border-radius: 0.2rem;

        button {
          display: inline-flex;
          align-items: center;
          background: none;
          border: none;

          width: fit-content;

          padding: 0.5rem;

          color: white;
          span {
            padding-left: 0.5rem;
            font-size: 0.8em;

            height: 12px;
            width: fit-content;
          }
        }
      }
    }
  }
}
