.projectCard {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  max-width: 80%;
  min-height: 30vh;

  margin: 0 auto;

  .image {
    position: relative;
    width: 450px;
    height: 500px;

    img {
      object-fit: cover;
      border-radius: 0.2rem;
    }
  }
  .cardContent {
    width: 200px;

    h3 {
      text-align: center;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.1em;
      line-height: 1.5em;
      text-align: justify;
    }

    .buttonWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;

      margin-top: 1.5rem;

      .button {
        display: inline-flex;
        align-items: center;
        background: var(--cyan-500);
        border-radius: 0.2rem;
        a {
          width: fit-content;
          padding: 0.5rem;

          font-size: 1rem;
          color: white;
          span {
            padding-left: 0.5rem;

            height: 12px;
            width: fit-content;

            font-size: 0.8rem;
          }
        }
      }

      .buttonDisabled {
        filter: brightness(0.6);
        cursor: not-allowed;

        display: inline-flex;
        align-items: center;
        background: var(--cyan-500);
        border-radius: 0.2rem;

        width: fit-content;
        padding: 0.5rem;

        font-size: 1rem;
        color: white;
        p {
          font-size: 1rem;
          span {
            padding-left: 0.5rem;

            height: 12px;
            width: fit-content;

            font-size: 0.8rem;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 2560px) {
  .projectCard {
    max-width: 100%;
    .cardContent {
      width: 331px;
    }
  }
}
