* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;

  --gray-100: #e1e1e6;
  --gray-300: #a8a8b3;
  --gray-350: #3d3d3d;
  --gray-400: #3b3b3b;
  --gray-700: #323238;
  --gray-800: #29292e;
  --gray-850: #212121;
  --gray-900: #161616;

  --cyan-500: #3b8bb1;
  --yellow-500: #d3c20c;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}
@media (min-width: 2560px) {
  html {
    font-size: 120%;
  }
}
@media (min-width: 2880px) {
  html {
    font-size: 140%;
  }
}

body {
  background: var(--gray-850);
  color: var(--white);
  width: 100%;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem "Roboto", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
