.footer {
  padding: 5rem;

  margin-top: 3rem;
  background: var(--gray-900);

  .footerContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
    width: 60vw;
    max-width: 920px;

    margin: 0 auto;

    div {
      display: flex;
      align-items: center;
    }
  }
}
