.postCard {
  article {
    &:hover {
      h1 {
        filter: brightness(0.9);
      }

      .excerpt p {
        filter: brightness(0.9);
      }

      .heroImg {
        transition: scale 1.2s;
        img {
          transform: scale(1.1);
        }
      }
    }
    time {
      font-size: 0.8em;
      color: var(--gray-300);
    }

    h1 {
      margin-top: 0.2rem;
    }

    .author {
      display: flex;
      align-items: center;
      gap: 0.8rem;
      margin-top: 0.2rem;
      margin-bottom: 1rem;
      p {
        display: inline-flex;
        gap: 0.4rem;

        font-size: 0.8em;
        color: var(--gray-300);
      }
    }
    .heroImg {
      position: relative;
      width: 100%;

      margin-top: 1.5rem;

      > div {
        position: unset !important;
      }

      img {
        object-fit: cover;
        width: 100% !important;
        position: relative !important;
        height: 200px !important;
        border-radius: 0.2rem;
      }
    }

    .excerpt {
      margin-top: 1rem;
      font-size: 1.2em;

      h2 {
        font-size: 1em;
        font-weight: 500;
        line-height: 1.5rem;
      }
    }
  }
}
