.Modal {
  position: absolute;
  top: 0;
  left: 4rem;
  right: 0;
  bottom: 20%;
  background-color: var(--gray-900);

  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}

.navHeader {
  background: var(--yellow-500);
  position: fixed;
  top: 0;

  width: 100%;
  height: 5rem;
  padding: 1rem;

  z-index: 2;

  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 920px;
    margin: 0 auto;

    nav {
      display: flex;
      gap: 1rem;

      font-weight: 700;

      a:hover {
        filter: brightness(0.9);
      }
    }

    .socialWrapper {
      display: flex;
      gap: 0.9rem;
    }
  }

  button {
    display: none;
    background: none;
    border: none;
  }

  img {
    width: 3rem;
  }
}

@media screen and (max-width: 600px) {
  .navHeader {
    position: relative;
    z-index: 0;
    nav {
      display: none !important;
    }
    .mobileMenu {
      display: block;
    }
  }
}

@media screen and (max-height: 600px) {
  .Modal {
    bottom: 10%;
  }
}
